@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark text-white;
  }

  img,
  video {
    width: 100%;
    height: auto;
  }

  a {
    @apply underline underline-offset-2;
  }

  .fancy-image {
    @apply border-4;
    border-image-slice: 1;
    border-image-source: linear-gradient(89.87deg, #256AD1 7.57%, #D1258C 95.58%);
  }

  .flowing-title {
    background: linear-gradient(89.87deg, #256AD1 7.57%, #D1258C 95.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    white-space: initial;
  }

  .cta {
    @apply py-1 px-2 border-2 text-white bg-black underline font-black uppercase text-sm;
  }
}